#login-form {
    .tab_item--active {
        color: black;
    }
    .form-box {
        .form-submit {
            margin-top: 30px;
        }
    }
    .form label {
        margin-top: 10px;
        margin-bottom: 3px;
    }
}