// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css");
@import 'navbar';
@import 'note';
@import 'login';
// 共通クラス
body {
    font-family: Merriweather, serif;
}

main {
    margin-top: 50px;
}

.font-lg {
    font-size: 23px;
    line-height: 1.4;
    font-weight: bold;
}

.font-text {
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.05em;
}

.font-sm {
    font-size: 12px;
}